# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importing Dataset

In [3]:
file = pd.read_csv(r"C:\Users\Harshal\FINAL PROJECT\Dataset\Crop_recommendation_new1.csv")

In [4]:
file.head()

,N,P,K,temperature,humidity,ph,rainfall,label,land_type
0,40.0,49,47,42.933686,91.175675,6.501521,246.361327,papaya,Hilly
1,86.0,6,53,25.920302,83.472026,6.921848,42.106815,watermelon,Hilly
2,20.0,68,23,25.549606,63.954255,7.707332,63.183053,blackgram,plain
3,69.0,67,52,27.719490,94.438771,6.827306,82.830611,papaya,Hilly
4,93.0,83,46,29.382540,83.504237,5.765309,109.248665,banana,Hilly

In [5]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4327 entries, 0 to 4326
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            4326 non-null   float64
 1   P            4327 non-null   int64
 2   K            4327 non-null   int64
 3   temperature  4327 non-null   float64
 4   humidity     4327 non-null   float64
 5   ph           4327 non-null   float64
 6   rainfall     4327 non-null   float64
 7   label        4327 non-null   object
 8   land_type    4327 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 304.4+ KB

In [6]:
file.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,4326.000000,4327.000000,4327.000000,4327.000000,4327.000000,4327.000000,4327.000000
mean,50.047157,53.453894,48.288190,25.652914,71.301617,6.469779,101.166318
std,36.973849,33.235283,51.054886,5.091353,22.403944,0.774170,52.295036
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.782419,60.078257,5.972715,64.178328
50%,36.500000,51.000000,31.000000,25.640044,80.303518,6.425420,93.923759
75%,84.000000,68.000000,49.000000,28.599768,90.037201,6.920171,120.951247
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [7]:
file.shape

(4327, 9)

In [8]:
file.size

38943

In [9]:
file.ndim

2

In [10]:
file.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label',
       'land_type'],
      dtype='object')

In [11]:
file = file.rename(columns={'label': 'crop'})

In [12]:
file.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'crop',
       'land_type'],
      dtype='object')

In [13]:
file['crop'].value_counts()

crop
papaya         200
watermelon     200
mungbean       200
pomegranate    200
maize          200
pigeonpeas     200
mango          200
chickpea       200
jute           200
orange         200
grapes         200
coffee         200
cotton         200
lentil         200
muskmelon      200
kidneybeans    200
mothbeans      200
apple          200
coconut        200
banana         200
blackgram      200
rice           127
Name: count, dtype: int64

# Data Cleaning

In [14]:
file.isnull().sum()

N              1
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
crop           0
land_type      0
dtype: int64

In [15]:
file.dropna(subset=['N'],inplace=True)

In [16]:
file.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
crop           0
land_type      0
dtype: int64

In [17]:
file.duplicated().sum()

0

# Data Visualization and Data Insight

In [20]:
crop_dict = {
    'rice': 1,
    'maize': 2,
    'jute': 3,
    'cotton': 4,
    'coconut': 5,
    'papaya': 6,
    'orange': 7,
    'apple': 8,
    'muskmelon': 9,
    'watermelon': 10,
    'grapes': 11,
    'mango': 12,
    'banana': 13,
    'pomegranate': 14,
    'lentil': 15,
    'blackgram': 16,
    'mungbean': 17,
    'mothbeans': 18,
    'pigeonpeas': 19,
    'kidneybeans': 20,
    'chickpea': 21,
    'coffee': 22
}
file['crop_num']=file['crop'].map(crop_dict)

In [21]:
file['land_type'].value_counts()

land_type
Hilly    2200
plain    2126
Name: count, dtype: int64

In [22]:
file['land_type_num']=file['land_type'].map({"Hilly":0,"plain":1})

In [23]:
file['crop_num'].value_counts()

crop_num
6     200
10    200
17    200
2     200
19    200
12    200
21    200
3     200
7     200
11    200
22    200
4     200
15    200
9     200
20    200
18    200
8     200
5     200
13    200
16    200
14    199
1     127
Name: count, dtype: int64

In [24]:
file.head()

,N,P,K,temperature,humidity,ph,rainfall,crop,land_type,crop_num,land_type_num
0,40.0,49,47,42.933686,91.175675,6.501521,246.361327,papaya,Hilly,6,0
1,86.0,6,53,25.920302,83.472026,6.921848,42.106815,watermelon,Hilly,10,0
2,20.0,68,23,25.549606,63.954255,7.707332,63.183053,blackgram,plain,16,1
3,69.0,67,52,27.719490,94.438771,6.827306,82.830611,papaya,Hilly,6,0
4,93.0,83,46,29.382540,83.504237,5.765309,109.248665,banana,Hilly,13,0

# Model Building

In [25]:
x=file.drop(columns=['crop','crop_num','land_type','land_type_num'],axis=1)
y=file['crop_num']

In [26]:
x.head()

      N   P   K  temperature   humidity        ph    rainfall
0  40.0  49  47    42.933686  91.175675  6.501521  246.361327
1  86.0   6  53    25.920302  83.472026  6.921848   42.106815
2  20.0  68  23    25.549606  63.954255  7.707332   63.183053
3  69.0  67  52    27.719490  94.438771  6.827306   82.830611
4  93.0  83  46    29.382540  83.504237  5.765309  109.248665

In [27]:
y.head()

0     6
1    10
2    16
3     6
4    13
Name: crop_num, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=69)

In [29]:
print(file.shape)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(4326, 11)
(3460, 7)
(3460,)
(866, 7)
(866,)

In [30]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()

x_train = ms.fit_transform(x_train)
x_test = ms.transform(x_test)

In [31]:
x_train

array([[0.00714286, 0.17857143, 0.025     , ..., 0.89926678, 0.5888731 ,
        0.29950143],
       [0.42142857, 0.40714286, 0.39      , ..., 0.05788405, 0.71530353,
        0.18946777],
       [0.1       , 0.09285714, 0.125     , ..., 0.44188338, 0.26227435,
        0.27136736],
       ...,
       [0.63571429, 0.25      , 0.19      , ..., 0.6849197 , 0.56284718,
        0.60988163],
       [0.28571429, 0.46428571, 0.075     , ..., 0.35898792, 0.32949086,
        0.45563284],
       [0.62142857, 0.16428571, 0.125     , ..., 0.63464892, 0.47150308,
        0.53395979]])

In [32]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()


sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [33]:
x_train

array([[-1.33516119, -0.69636704, -0.74863985, ...,  0.89594543,
         1.07762977,  0.05476724],
       [ 0.2285032 ,  0.27421112,  0.70148134, ..., -2.34806462,
         2.13986509, -0.52962673],
       [-0.98468469, -1.06033385, -0.35134637, ..., -0.86752828,
        -1.66636743, -0.09465413],
       ...,
       [ 1.03729512, -0.39306136, -0.09310561, ...,  0.06951524,
         0.85896677,  1.70321117],
       [-0.28373169,  0.51685566, -0.54999311, ..., -1.18713754,
        -1.10163189,  0.88398853],
       [ 0.98337566, -0.75702817, -0.35134637, ..., -0.12430726,
         0.09151756,  1.29998667]])

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score

# create instances of all models
models = {
    'Logistic Regression': LogisticRegression(),
    'Naive Bayes': GaussianNB(),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'Bagging': BaggingClassifier(),
    'AdaBoost': AdaBoostClassifier(),
    'Gradient Boosting': GradientBoostingClassifier(),
    'Extra Trees': ExtraTreeClassifier(),
}


for name, md in models.items():
    md.fit(x_train,y_train)
    ypred = md.predict(x_test)
    
    print(f"{name}  with accuracy : {(accuracy_score(y_test,ypred).round(3))*100} %  ")

C:\Users\Harshal\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression  with accuracy : 97.2 %
Naive Bayes  with accuracy : 99.4 %
Support Vector Machine  with accuracy : 98.6 %
K-Nearest Neighbors  with accuracy : 97.89999999999999 %
Decision Tree  with accuracy : 99.7 %
Random Forest  with accuracy : 99.5 %
Bagging  with accuracy : 99.5 %
AdaBoost  with accuracy : 12.0 %
Gradient Boosting  with accuracy : 99.8 %
Extra Trees  with accuracy : 97.89999999999999 %

In [35]:
rfc = RandomForestClassifier()
rfc.fit(x_train,y_train)
ypred = rfc.predict(x_test)
print(accuracy_score(y_test,ypred))

def recommendation(N,P,k,temperature,humidity,ph,rainfal):
    features = np.array([[N,P,k,temperature,humidity,ph,rainfal]])
    transformed_features = ms.fit_transform(features)
    transformed_features = sc.fit_transform(transformed_features)
    prediction = rfc.predict(transformed_features).reshape(1,-1)
    
    return prediction[0]

0.9953810623556582

In [36]:
N = 40
P = 50
k = 50
temperature = 40.0
humidity = 20
ph = 100
rainfall = 100
# land_type = 0
predict = recommendation(N,P,k,temperature,humidity,ph,rainfall)
# print(predict)

crop_dict = {1: "Rice", 2: "Maize", 3: "Jute", 4: "Cotton", 5: "Coconut", 6: "Papaya", 7: "Orange",
                 8: "Apple", 9: "Muskmelon", 10: "Watermelon", 11: "Grapes", 12: "Mango", 13: "Banana",
                 14: "Pomegranate", 15: "Lentil", 16: "Blackgram", 17: "Mungbean", 18: "Mothbeans",
                 19: "Pigeonpeas", 20: "Kidneybeans", 21: "Chickpea", 22: "Coffee"}

fertilizer_dict =  {1: ["10-14-14",""], 2: "Maize", 3: "Jute", 4: "Cotton", 5: "Coconut", 6: "Papaya", 7: "Orange",
                 8: "Apple", 9: "Muskmelon", 10: "Watermelon", 11: "Grapes", 12: "Mango", 13: "Banana",
                 14: "Pomegranate", 15: "Lentil", 16: "Blackgram", 17: "Mungbean", 18: "Mothbeans",
                 19: "Pigeonpeas", 20: "Kidneybeans", 21: "Chickpea", 22: "Coffee"}

if predict[0] in crop_dict:
    crop = crop_dict[predict[0]]
    print("{} is a best crop to be cultivated ".format(crop))
else:
    print("Sorry are not able to recommend a proper crop for this environment")

Papaya is a best crop to be cultivated

In [37]:
# import pickle 
# pickle.dump(rfc,open('model.pkl','wb'))
# pickle.dump(ms,open('minmaxscaler.pkl','wb'))
# pickle.dump(sc,open('standscaler.pkl','wb'))